@import "layout/variables";
@import "layout/header";
@import "layout/footer";
@import "components/bootstrap";
@import "layout/estilosindex";
@import "layout/estilosproductos";
@import "layout/estilosplanta";
@import "layout/estilosservicios";
@import "layout/estiloscontacto";


* {
	margin: 0px;
	padding: 0;
	box-sizing: border-box;
}

body { 

    font-family: 'Roboto', sans-serif;
    background-color: $background-color;
    width: ($ancho*2); /*agregando operaciones*/
}     

