/*agregando variables*/
$primary-color: #681FA4;

$primary-size: 30pt;

$secondary-color: #F0EBF4;

$background-color: hsl(270, 14%, 97%);

$ancho: 50%;

$gradiant: linear-gradient(to right, #714fab 34%, #c87e8d 63%);

$texto: violeta;
