/*agregando variables*/
.header {
  /*agregando estilos al html/index*/
  background-image: linear-gradient(to right, #411386 0%, #ff8ab3 100%); }

.header__logo {
  width: 100px;
  margin-left: 10px;
  border: 1px solid #681FA4; }

.header__logo img {
  width: 100%; }

.seccion__titulo {
  color: #681FA4;
  font-size: 30pt;
  background: linear-gradient(to right, #714fab 34%, #c87e8d 63%);
  display: flex;
  justify-content: center;
  width: 100%;
  /*agregando operaciones*/ }

.nav-item a:hover {
  /* modificando parte  del nav bar/bootstrap  del index.html con las clases de bs*/
  color: #CC2CB9; }

.navbar-transparent a:link {
  color: whitesmoke; }

.divNav {
  font-family: 'Roboto', sans-serif;
  font-size: 18pt; }

.titulo__beneficios:hover {
  color: #681FA4;
  font-size: 14pt;
  padding-left: 10px;
  transition: 3s; }

.titulo__beneficios {
  color: #681FA4; }

.redes__Titulo {
  color: indigo;
  text-decoration: underline; }

.redes__Enlaces {
  color: indigo;
  font-size: 12pt;
  padding-left: 20px;
  background-color: #f7f6f8;
  list-style: none; }

.footer__lista {
  color: blueviolet;
  font-size: 12pt;
  justify-content: center;
  padding-left: 10px;
  text-decoration: none;
  background-color: #F0EBF4;
  margin: 0px; }

.copyright {
  background-image: linear-gradient(to right, #5e00eb 0%, #ff8ab3 100%); }

.copyright__footer {
  border-top: 1px solid beige;
  margin: 5px;
  color: whitesmoke;
  font-size: 15pt;
  justify-content: center;
  padding-left: 20px;
  position: sticky; }

/*gregando animacion en el archivo del index.html  "classm17"*/
.ml7 {
  position: relative;
  font-weight: 900;
  font-size: 20pt;
  align-items: center; }

.ml7 .text-wrapper {
  position: relative;
  display: flex;
  padding-left: 500px;
  margin: 20px;
  overflow: hidden; }

.ml7 .letter {
  transform-origin: 0 100%;
  display: inline-block;
  line-height: 1em; }

/*final de animacion en el archivo del index.html  "classm17"*/
/*ejemplo de snippet creado con BS en el archivo productos.html"*/
.product-grid {
  font-family: Raleway,sans-serif;
  text-align: center;
  padding: 0 0 72px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  z-index: 1; }

.product-grid .product-image {
  position: relative;
  transition: all .3s ease 0s; }

.product-grid .product-image a {
  display: block; }

.product-grid .product-image img {
  width: 100%;
  height: auto; }

.product-grid .pic-1 {
  opacity: 1;
  transition: all .3s ease-out 0s; }

.product-grid:hover .pic-1 {
  opacity: 1; }

.product-grid .pic-2 {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .3s ease-out 0s; }

.product-grid:hover .pic-2 {
  opacity: 1; }

.product-grid .social {
  width: 150px;
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 0;
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  top: 60%;
  left: 50%;
  z-index: 1;
  transition: all .3s ease 0s; }

.product-grid:hover .social {
  opacity: 1;
  top: 50%; }

.product-grid .social li {
  display: inline-block; }

.product-grid .social li a {
  color: #fff;
  background-color: #333;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  height: 40px;
  width: 40px;
  margin: 0 2px;
  display: block;
  position: relative;
  transition: all .3s ease-in-out; }

.product-grid .social li a:hover {
  color: #fff;
  background-color: #ef5777; }

.product-grid .social li a:after, .product-grid .social li a:before {
  content: attr(data-tip);
  color: #fff;
  background-color: #000;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 20px;
  padding: 1px 5px;
  white-space: nowrap;
  opacity: 0;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: -30px; }

.product-grid .social li a:after {
  content: '';
  height: 15px;
  width: 15px;
  border-radius: 0;
  transform: translateX(-50%) rotate(45deg);
  top: -20px;
  z-index: -1; }

.product-grid .social li a:hover:after, .product-grid .social li a:hover:before {
  opacity: 1; }

.product-grid .product-discount-label, .product-grid .product-new-label {
  color: #fff;
  background-color: #b753cb;
  font-size: 12px;
  text-transform: uppercase;
  padding: 2px 7px;
  display: block;
  position: absolute;
  top: 10px;
  left: 0; }

.product-grid .product-discount-label {
  background-color: #333;
  left: auto;
  right: 0; }

.product-grid .rating {
  color: #FFD200;
  font-size: 12px;
  padding: 12px 0 0;
  margin: 0;
  list-style: none;
  position: relative;
  z-index: -1; }

.product-grid .rating li.disable {
  color: rgba(0, 0, 0, 0.2); }

.product-grid .product-content {
  background-color: #fff;
  text-align: center;
  padding: 12px 0;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -27px;
  z-index: 1;
  transition: all .3s; }

.product-grid:hover .product-content {
  bottom: 0; }

.product-grid .title {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: capitalize;
  margin: 0 0 10px;
  transition: all .3s ease 0s; }

.product-grid .title a {
  color: #828282; }

.product-grid .title a:hover, .product-grid:hover .title a {
  color: #ef5777; }

.product-grid .price {
  color: #333;
  font-size: 17px;
  font-family: Montserrat,sans-serif;
  font-weight: 700;
  letter-spacing: .6px;
  margin-bottom: 8px;
  text-align: center;
  transition: all .3s; }

.product-grid .price span {
  color: #999;
  font-size: 13px;
  font-weight: 400;
  text-decoration: line-through;
  margin-left: 3px;
  display: inline-block; }

.product-grid .add-to-cart {
  color: #000;
  font-size: 13px;
  font-weight: 600; }

@media only screen and (max-width: 990px) {
  .product-grid {
    margin-bottom: 30px; } }

/* final del ejemplo de snippet"*/
/*agregando estilos al index.html*/
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f6f8;
  width: 100%;
  /*agregando operaciones*/ }

.pparrafoSeccion {
  text-align: center;
  padding-left: 500px;
  font-size: 15pt;
  margin: 10px;
  padding: 20px; }

.parrafo__Principal {
  /*agregando condicional*/
  color: #782DCC;
  font-size: 18pt;
  text-align: center;
  margin: 10px 15px;
  padding: 10px;
  background-color: #B6C5F2; }

.padre__Titulo {
  color: #1f2263;
  background: linear-gradient(to right, #714fab 34%, #c87e8d 63%);
  font-size: 25pt;
  margin: 0px;
  padding-left: 100px; }

.padreElaboracion__titulo {
  color: #411386;
  background: linear-gradient(to right, #714fab 34%, #c87e8d 63%);
  font-size: 25pt;
  margin: 0px;
  padding-left: 500px; }

.seccionImg {
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.seccionImg__index img {
  width: 100%; }

.seccionImg__index {
  height: 400px;
  width: 300px; }

.titulo__Prueba {
  /*agregando estilos a "productos.html"*/
  color: #2c2b2b;
  font-size: 25px;
  padding-left: 500px;
  margin: 0px;
  background: linear-gradient(to right, #bebac5 0%, #ff8ab3 100%); }

.tituloProductos {
  color: #26083b font-size 26pt;
  padding-left: 600px; }

table {
  color: #54585d;
  background: snow;
  border: 2px solidcolor;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 30px; }

.contenidoTabla .tabla {
  color: #54585d;
  background-color: B6CBF2;
  list-style: none; }

.imagen__Productos img {
  width: 100%; }

.imagen__Productos {
  height: 400px;
  width: 300px; }

.tituloBest {
  color: #681FA4;
  padding-left: 440px;
  font-size: 16pt; }

.parrafoProductos__best {
  color: #681FA4;
  padding-left: 280px;
  font-size: 14pt; }

/* Asignando estilos a "planta.html*/
.img__planta img {
  width: 100%; }

.img__planta {
  height: 400px;
  width: 300px; }

.img__planta1 img {
  width: 100%; }

.img__planta1 {
  height: 650px;
  width: 500px; }

.img__planta2 img {
  width: 100%; }

.img__planta2 {
  height: 600px;
  width: 380px; }

.padreElaboracion__Titulo {
  padding-left: 400px; }

.parrafo__plantaPrincipal {
  color: #681FA4;
  font-size: 18pt;
  text-align: center;
  margin: 10px 15px;
  padding: 10px; }

.tituloPlanta {
  padding-left: 1200px;
  color: #681FA4;
  font-size: 30pt; }

.tituloRecetas {
  color: black;
  background: linear-gradient(to right, #bebac5 0%, #ff8ab3 100%);
  font-size: 14pt;
  padding: 20px;
  margin: 5px; }

.tituloTarta {
  color: black;
  align-content: center;
  font-size: 14pt;
  padding-left: 250px; }

#tituloTarta2 {
  color: black;
  align-content: center;
  font-size: 14pt;
  padding-left: 170px; }

.recetaGrid {
  display: flex; }

.listaReceta {
  color: rgba(73, 71, 71, 0.445);
  font-size: 15pt;
  letter-spacing: 1px;
  margin: 5px; }

.imgTarta__Frutilla img {
  width: 100%; }

.imgTarta__Frutilla {
  height: 450px;
  width: 300px; }

.tituloVideo {
  padding-left: 150px; }

/* Asignando estilos a "servicios.html"*/
.seccionImgServicios {
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.seccionImgServicios__Catering img {
  width: 100%; }

.seccionImgServicios__Catering {
  height: 450px;
  width: 300px; }

.parrafoServicios__P {
  color: #681FA4;
  font-size: 18pt;
  text-align: center;
  margin: 10px 15px;
  padding: 10px;
  background-color: #B6C5F2; }

.titulos {
  color: #A6BEF3;
  letter-spacing: 1px;
  margin: 5px; }

/* Asignando estilos a "contacto.html"*/
.parrafoConsultas {
  color: rgba(120, 120, 120, 0.308);
  font-size: 14pt;
  text-align: center;
  margin: 10px;
  padding: 20px; }

.formulario {
  margin: 10px;
  padding-left: 10px;
  border: 2px #681FA4; }

.padreContactanos {
  display: flex;
  justify-content: center; }

.padre__Contactanos {
  color: #2c2b2b;
  font-size: 25px;
  padding-left: 550px;
  margin: 0px;
  background: linear-gradient(to right, #bebac5 0%, #ff8ab3 100%); }

.ayuda {
  color: #681FA4;
  font-size: 20pt;
  font-weight: bold;
  padding-left: 10px;
  margin: 10px; }

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f6f8;
  width: 100%;
  /*agregando operaciones*/ }
